<!DOCTYPE html>
<html lang="ptbr">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
        <% if(req.session.loggedin) { %>
        <%- include('../partials/menu_dashboard'); %>
        <% } %>        
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">
                <div class="jumbotron">
                    <h1>Sobre Paulo: Cursando Tecnico de Desenvolvimento de Sistemas</h1>
                    <p>Email: pc.zuit@gmail.com</p>
                    <p>Numero: (19) 98941-9349</p>
                    <p>CPF: 123-456-789</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="well">
                    <h3>Bem-Vindo</h3>
                    <%- include('../partials/flex-images-wrap'); %>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>